{{template "admin" .}}

{{define "page-title"}}
    Reservation
{{end}}

{{define "content"}}
    {{$res := index .Data "reservation"}}
    {{$src := index .StringMap "src"}}
    <div class="col-md-12">
        <p>
            <strong>Arrival:</strong> {{humanDate $res.StartDate}} <br/>
            <strong>Departure:</strong> {{humanDate $res.EndDate}} <br/>
            <strong>Room:</strong> {{$res.Room.RoomName}} <br/>
        </p>

        <form method="post" action="/admin/reservations/{{$src}}/{{$res.ID}}" class="" novalidate>
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <div class="form-group mt-5">
                <label for="first_name">First Name:</label>
                {{with .Form.Errors.Get "first_name"}}
                    <label class="text-danger">{{.}}</label>

                {{end}}
                <input type="text" name="first_name" id="first_name"
                       class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}"
                       value="{{$res.FirstName}}" required autocomplete="off">
            </div>

            <div class="form-group">
                <label for="last_name">Last Name:</label>
                {{with .Form.Errors.Get "last_name"}}
                    <label class="text-danger">{{.}}</label>

                {{end}}
                <input type="text" name="last_name" id="last_name" class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}" value="{{$res.LastName}}" required autocomplete="off">
            </div>


            <div class="form-group">
                <label for="email_address">Email:</label>
                {{with .Form.Errors.Get "email_address"}}
                    <label class="text-danger">{{.}}</label>

                {{end}}
                <input type="email" name="email_address" id="email_address" class="form-control {{with .Form.Errors.Get "email_address"}} is-invalid {{end}}" value="{{$res.Email}}" required autocomplete="off">
            </div>

            <div class="form-group">
                <label for="phone_number">Phone Number:</label>
                {{with .Form.Errors.Get "phone_number"}}
                    <label class="text-danger">{{.}}</label>

                {{end}}
                <input type="text" name="phone_number" id="phone_number" class="form-control {{with .Form.Errors.Get "phone_number"}} is-invalid {{end}}" value="{{$res.Phone}}" required autocomplete="off">
            </div>

            <hr>
            <div class="float-start">
            <input type="submit" class="btn btn-primary" value="Save">
            <a href="/admin/reservations-{{$src}}" class="btn btn-warning">Cancel</a>
            <a href="#!" class="btn btn-info" onclick="processRes({{$res.ID}})">Mark as Processed</a>
            </div>

            <div class="float-end">
            <a href="#!" class="btn btn-danger" onclick="deleteRes({{$res.ID}})">Delete</a>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
{{end}}

{{define "js"}}
    {{$src := index .StringMap "src"}}
    <script>
        function processRes(id) {
            attention.custom({
                icon: 'warning',
                msg : 'Are you sure?',
                callback: function(result) {
                    if (result !== false) {
                        window.location.href = "/admin/process-reservation/{{$src}}/" + id;
                    }
                }
            })
        }

        function deleteRes(id) {
            attention.custom({
                icon: 'warning',
                msg : 'Are you sure?',
                callback: function(result) {
                    if (result !== false) {
                        window.location.href = "/admin/delete-reservation/{{$src}}/" + id;
                    }
                }
            })
        }
    </script>
{{end}}