{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2">
                <h1 class="mt-2 text-center">Get in touch with us!</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                (044)123-4567
            </div>
            <div class="col text-center">
                <a href="mailto:myprojecthotel@mail.com">myprojecthotel@mail.com</a>
            </div>
        </div>
    </div>
{{end}}